*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    background-color: #121212;
    font-family:Arial, Helvetica, sans-serif;
}

.sidebar{
position: fixed;
left:0;
top: 0;
bottom: 0;
width: 245px;
background-color:#090909;
}

.navigation {
    height: 150px;
    background-color: #111010;
    margin-left: 12px;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
} 
.sidebar .nav-logo img{
    width: 178px;
    padding-left: 10px;
    padding-left: 17px;
    padding-top: 23px;
}


.sidebar .navigation ul{
    list-style: none;
    margin-top: 70px;
}

.sidebar .navigation ul li{
    padding: 10px 0px;
}

.sidebar .navigation ul :hover{
    background-color: rgb(30 30 30);
}

.sidebar .navigation ul li a{
    color: #b3b3b3;
    position: absolute;
    margin-top: 5.3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 5px;
    padding-bottom: 10px;
}

.sidebar .navigation ul li a :hover{
    color: #ffffff;
}

.sidebar .navigation i{
    font-size: 1.4rem;
    color: white;
    padding-left: 10px;
    padding-right: 5px;
}

.sidebar .navigation i :hover{
    color: #ffffff;
}

/* .navbar .panel{
    list-style: none;
    margin-top: 80px;
} */

.panel {
    height: 366px;
    background-color: #111010;
    margin-left: 10px;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.sidebar .panel ul{
    list-style: none;
    margin-top: 57px;
}

.sidebar .panel ul li{
    padding: 10px 0px;
}

.sidebar .panel ul :hover{
    background-color: rgb(30, 30, 30);
}

.sidebar .panel i{
    font-size: 1.4rem;
    color: white;
    padding-left: 10px;
    padding-right: 5px;
    /* margin-top: 450px; */
    padding-top: 50px;
}

.sidebar .panel i :hover{
    color: #ffffff;
}

.sidebar .panel ul li a {
    position: absolute;
    margin-top: 10px;
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 5px;
}

.ins{
    position: absolute;
    bottom: 84px;
    display: flex;
    align-items: center;
    color: white;
}

.ins a {
    font-size: 1.4rem;
    font-family:cursive;
    font-weight: 400;
    text-decoration: none;
    color: wheat;
}

.ins i {
    font-size: 1.4rem;
    color: white;
    padding-right: 10px;
    padding-left: 15px;
}


.down{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    margin-bottom: 0px;
    padding-top: 10px;
    bottom: 0px;
    height: 71px;
    width: 100%;
    background-color: #1a1717;
}

.recent{
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    margin-left: 10px;
    margin-top: 13px;
}

.recent img{
    /* height:30px ; */
    width: 60px;
    padding-left: 15px;
    padding-right: 8px;
    padding-bottom: 5px;
}

.recent p{
    font-size: 1.1rem;
    font-weight: 500;
    color: wheat;
    padding-right: 50px;
}

.recent span{
    font-size: 0.65rem;
    color: wheat;
    font-weight: 300;
}


.recent button{
    font-size: bold;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.niche{
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -175px;
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.track-play img {
    width: 580px;
}

.niche a {
    font-size: 0.70rem;
    text-decoration: none;
    color: wheat;
    /* align-items: center; */
    padding-right: 3px;
    padding-left: 3px;
}

.sym{
    position: absolute;
    top: 0px;
    margin-left: -195px;
    margin-bottom: 15px;
    display: flex;
}

.sym button{
    background-color: #1a1717;
    font-size: 1rem;
    font-weight: 600;
}

/* .shuffle{
    position: absolute;
    margin-bottom: 7px;
    margin-top: 20px;
    margin-left: -41px;
} */

/* .skip{
    position: absolute;
    margin-bottom: 7px;
    margin-top: 20px;
    margin-left: -39px;
} */



.main-container{
    margin-left: 245px;
    margin-bottom: 100px;
}

.topbar {
    display: flex;
    background-color: #101010;
    padding: 14px 30px;
  }
  /* .topbar .prev-next-buttons button {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
  } */
.prev-next-buttons {
    position: absolute;
    margin-left: 18px;
    margin-top: 11px;
}
.google{
    height: 34px;
    display: flex;
    align-items: center; 
    position: absolute;
    margin-left: 120px;
    margin-top: 11px;
}

.google input {
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 450px;
    height: 37px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    /* border-radius: 30px; */
    padding-left: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.google img {
    height: 37px;
    width: 37px;
    background-color: white;
    margin-left: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}
/* .google img {
    display: flex;
    align-items: center;
    height: 34px;
    width: 34px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
} */

/* .gicon{
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
} */


.topbar .navbar {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 890px;
  }
  .topbar .navbar ul {
    list-style: none;
  }
  .topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
  }
  .topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .topbar .navbar ul li a:hover,
  .topbar .navbar ul li a:active,
  .topbar .navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;
  }
  .topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
  }
  .topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
  }
  .topbar .navbar button:hover,
  .topbar .navbar button:active,
  .topbar .navbar button:focus {
    background-color: #f2f2f2;
  }

.spotify-playlist h2{
color: #ffffff;
font-size: 2rem;
margin-bottom: 25px;
margin-top: 20px;
margin-left: 35px;
padding-top: 40px;
padding-bottom: 5px;
}

.spotify-playlist .list{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    margin-bottom: 25px;
}

/* .border{
    border: 2px solid transparent;
}

.border :hover{
    border: 2px solid khaki;
} */

.pop{
    height: 330px;
    width: 650px;
    background-color: rgba(160, 82, 160, 0.646);
    margin-right: 55px;
    border-radius: 20px;
    margin-left: 30px;
}

.pop:hover{
    border: 2px solid khaki;
}

.hip{
    height: 330px;
    width: 650px;
    background-color:rgb(244, 99, 8);
    margin-right: 30px;
    border-radius: 20px;
}

.hip:hover{
    border: 2px solid khaki;
}

.pop p {
    font-size: 50px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}

.hip p {
    font-size: 50px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}

.music{
    display: flex;
    justify-content: space-evenly;
    margin-left: -12px;
}

.browse{
    padding-left: 35px;
}

.browse h2{
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 25px;
    
}

.browse.music{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    margin-bottom: 25px;
}

.pod{
    height: 260px;
    width: 260px;
    background-color: rgb(21, 188, 141);
    border-radius: 20px;
}

.pod img{
    width: 100px;
    padding-left: 150px;
    padding-top: 100px;
}

.pod p{
    font-size: 35px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}

.made{
    height: 260px;
    width: 260px;
    background-color: rgba(40, 40, 232, 0.813);
    border-radius: 20px;
}

.made img{
    width: 100px;
    padding-left: 150px;
    padding-top: 100px;
}

.made p{
    font-size: 35px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}

.charts{
    height: 260px;
    width: 260px;
    background-color:rgba(160, 82, 160, 0.646);
    border-radius: 20px;
}

.charts img{
    width: 100px;
    padding-left: 150px;
    padding-top: 100px;
}

.charts p{
    font-size: 35px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}

.new{
    height: 260px;
    width: 260px;
    background-color: rgb(228, 37, 69);
    border-radius: 20px;
    margin-right: 38px;
}

.new img{
    width: 100px;
    padding-left: 150px;
    padding-top: 100px;
}

.new p{
    font-size: 35px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}



.lang{
    display: flex;
    justify-content: space-evenly;
    margin-left: -12px;
}


.hindi{
    height: 260px;
    width: 260px;
    background-color: rgb(221, 18, 18);
    border-radius: 20px;
}

.hindi img{
    width: 100px;
    padding-left: 150px;
    padding-top: 100px;
}

.hindi p{
    font-size: 35px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}

.punjabi{
    height: 260px;
    width: 260px;
    background-color:rgba(150, 57, 150, 0.646) ;
    border-radius: 20px;
}

.punjabi img{
    width: 100px;
    padding-left: 150px;
    padding-top: 100px;
}

.punjabi p{
    font-size: 35px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}

.tamil{
    height: 260px;
    width: 260px;
    background-color:rgba(143, 132, 39, 0.351);
    border-radius: 20px;
}

.tamil img{
    width: 100px;
    padding-left: 150px;
    padding-top: 100px;
}

.tamil p{
    font-size: 35px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}

.telugu{
    height: 260px;
    width: 260px;
    background-color:rgb(244, 99, 8);
    border-radius: 20px;
    margin-right: 38px;
}

.telugu img{
    width: 100px;
    padding-left: 150px;
    padding-top: 100px;
}

.telugu p{
    font-size: 35px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}

.discover{
    display: flex;
    justify-content: space-evenly;
    margin-left: -12px;
    margin-top: 25px;
}

.dis{
    height: 260px;
    width: 260px;
    background-color: rgb(195, 62, 84);
    border-radius: 20px;
}

.dis img {
    width: 100px;
    padding-left: 150px;
    padding-top: 100px;
}

.dis p{
    font-size: 35px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}

.live{
    height: 260px;
    width: 260px;
    background-color:rgb(70, 70, 153) ;
    border-radius: 20px;
}

.live img {
    width: 100px;
    padding-left: 150px;
    padding-top: 100px;
}

.live p{
    font-size: 35px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}

.bolly{
    height: 260px;
    width: 260px;
    background-color:rgb(73, 213, 215);
    border-radius: 20px;
}

.bolly img {
    width: 100px;
    padding-left: 150px;
    padding-top: 100px;
}

.bolly p{
    font-size: 35px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}

.indie{
    height: 260px;
    width: 260px;
    background-color:rgb(25, 90, 171);
    border-radius: 20px;
    margin-right: 38px;
}

.indie img {
    width: 100px;
    padding-left: 150px;
    padding-top: 100px;
}

.indie p{
    font-size: 35px;
    font-weight: 700;
    color: wheat;
    padding-top: 5px;
    padding-left: 10px;
}













/* 
.one{
    height: 100vh;
    width: 350px;
    background-color: black;
}


.navbar{
    height:44px;
    width: 300px;
}

.nav-logo{
    height: 40px;
    width: 50%;
    display: flex;
    margin-left: 4px;
    align-items: center;
    color: white;
}

.nav-logo i {
    font-size: 2.5rem;
    padding-left: 10px;
}

.nav-logo{
    font-size: 1.8rem;
    font-family:cursive;
    font-weight: 750;
}
.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

.options{
    margin-top: 80px;
    /* margin-left: 10px; */
    /* padding-left: 20px;
    color:white;
    height: 110px;
    width: 310px;
    list-style-type: none; */
}
/* 
#home i {
    font-size: 1.5rem;
}

#home a {
    font-size: 1.6rem;
    font-family:cursive;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
#search i {
    font-size: 1.5rem;
}

#search a {
    color: white;
    font-size: 1.6rem;
    font-family:cursive;
    font-weight: 400;
    text-decoration: none;
} */

/* #library i {
   font-size: 1.5rem;
}

#library a {
    font-size: 1.6rem;
    font-family:cursive;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.panel{
    color:white;
    margin-top: 115px;
    margin-left: 0px;
    padding-left: 20px;
    height: 100px;
    width: 340px;
} 


.playlist i {
font-size: 1.5rem;
}

.playlist a {
    font-size: 1.6rem;
    font-family:cursive;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.liked i {
    font-size: 1.5rem;
}
    
.liked a {
    font-size: 1.6rem;
    font-family:cursive;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.episodes i {
    font-size: 1.3rem;
}
        
.episodes a {
    font-size: 1.6rem;
    font-family:cursive;
    font-weight: 400;
    text-decoration: none;
    color: white;
}


.install{
    display: flex;
    align-items: center;
    color: white;
    margin-top: 240px;
    padding-left: 20px;
}

.install i {
    font-size: 1.5rem;
}

.install a {
    font-size: 1.6rem;
    font-family:cursive;
    font-weight: 400;
    text-decoration: none;
    color: white; */
} */

//***********************************************************************************************************************//

/* .two{
    height: 100vh;
    width: 80%; 
}

.search-box{
    position: fixed;
    top: 0px;
    margin-top: 0;
    margin-left: 170px;
    height: 64px; ;
    width:80%;
    display:flex;
    justify-content:center;
    align-items:center ;
    padding: ;
    border: none;
}

.search-box i  {
    font-size: 1.5rem;
    border: 2px solid transparent;
}

.box{
    height: 36px;
    width: 330px;
    border: 2px solid transparent;
    padding: 6px 30px;
    border-radius: 30px;
    text-align: center; */
}









